*{
    margin:0;
    padding:0;
}
@font-face {
    font-family: "TitleFont";
    src: url("./fonts/bottix.ttf");
}
@font-face {
    font-family: "SecondFont";
    src: url("./fonts/Modern\ Romance.otf");
}
@font-face {
    font-family: "TitleFont2";
    src: url("./fonts/AM_Thulth_Regular_0.1.ttf");
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0a0a0a;
    overflow-x: hidden;
}
.hero-div{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    width: 100vw;
    height: 675px;
}
#particles-js{
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
    overflow: hidden;
}
.introducing-text{
    font-size: 90px;
    font-family: "TitleFont", sans-serif;
    color: #f5f0e8;
    z-index: 2;
}
.hero-div > span{
    color: white;
    font-family: "TitleFont", sans-serif;
    font-size: 23px;
    margin-top: 20px;
}
.introducing-text > span {
    color: rgb(255, 87, 25);
}
#try-button{
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 42px;
    padding-right: 42px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: transparent;
    font-size: 19px;
    color: #f5f0e8;
    font-family: "TitleFont", sans-serif;
    font-weight: 500;
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 50px;
    z-index: 2;
    cursor: pointer;
}
#try-button:hover{
    transform: scale(101%);
    transition: 0.7s ease;
    color: rgb(255, 87, 25);
    border-color: rgb(255, 87, 25);
}
.about-section{
    width: 100vw;
    height: 550px;
    background-color: #0a0a0a;
}
.about-section > h2{
    font-size: 55px;
    color: white;
    font-family: "TitleFont", sans-serif;
    margin-top: 60px;
    margin-left: 120px;
}
.boxes-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 80px;
}
.boxes-div > div{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 170px;
    padding: 20px;
    box-shadow: 0px 10px 0 white;
    border: 2px solid white;
    border-radius: 10px;
    margin-left: 40px;
    color: white;
    text-align: justify;
}

.boxes-div > div > i{
    font-size: 35px;
    margin-top: 10px;
    margin-left: 10px;
}
.boxes-div > div > span{
    font-family: "TitleFont", sans-serif;
    font-size: 20px;
    margin-top: 20px;
}
.steps-boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.section{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
    height: fit-content;
    padding: 30px;
    border: 5px solid white;
}
.steps-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border-color: transparent;
}
.section > h2{
    font-size: 50px;
    font-family: "TitleFont", sans-serif;
    color: white;
    margin-bottom: 50px;
}
.steps-boxes > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 230px;
    box-shadow: 0 10px 0 white;
    border: 3px solid white;
    margin-top: 70px;
    border-radius: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 100px;
}
.steps-boxes > div> span{
    color: white;
    font-family: "TitleFont", sans-serif;
    font-size: 20px;
    margin-top: 50px;
}
.steps-boxes > div > img{
    width: 90%;
    height: auto;
    margin-top: 30px;
    border-radius: 30px;
}
.timeline{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 150px;
    margin-top: 50px;
}
.line{
    width: 90%;
    height: 3px;
    background-color: white;
}
.circle1{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: #242424;
    border: 3px solid white;
    border-radius: 100px;
   left: 14%;
   font-size: 25px;
   color: white;
   font-family: "TitleFont", sans-serif;
}
.circle2{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: #242424;
    border: 3px solid white;
    border-radius: 100px;
    left: 47%;
    font-size: 25px;
   color: white;
   font-family: "TitleFont", sans-serif;
}
.circle3{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
   width: 70px;
    height: 70px;
    background-color: #242424;
    border: 3px solid white;
    border-radius: 100px;
    left: 80%;
    font-size: 25px;
   color: white;
   font-family: "TitleFont", sans-serif;
}
.contact-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 650px;
    margin-top: 100px;
}

.plans-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 700px;
    margin-top: 100px;

}
.plans-section > h2{
    color: white;
    font-family: "TitleFont", sans-serif;
    font-size: 60px;
}
.choices-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 360px;
    height: 50px;
    background-color: #272727;
    margin-top: 50px;
    border-radius: 20px;
}
.plans-boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;
    margin-top: 50px;
}
.choices-div > button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    color: white;
    background-color: transparent;
    font-family: "TitleFont", sans-serif;
    font-size: 20px;
    border-color: transparent;
    cursor: pointer;
    border-radius: 20px;
}
.choices-div > button:hover{
    background-color: #161616;
    transition: 0.7s ease;
}
.choices-div > button:active{
    background-color: #0c0c0c;
}

.plans-boxes > div{
    width: 33%;
    height: 100%;
    background-color: #0c0c0c;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    color: white;
    font-family: "TitleFont", sans-serif;
    border: 3px solid white;
    padding: 15px;
}
.plans-boxes > div > img{
    width: 80px;
    height: auto;
    margin-left: 140px;
    margin-top: 10px;
}
.plans-boxes > div > h2{
    font-size: 35px;
    margin-top: 10px;
    margin-left: 30px;
}
.plans-boxes > div > span{
    font-size: 17px;
    margin-top: 10px;
    margin-left: 50px;
}
.plans-boxes > div > button{
    width: 300px;
    height: 60px;
    margin-top: 50px;
     background-color: #0c0c0c;
    border-radius: 10px;
    font-size: 25px;
    font-family: "TitleFont", sans-serif;
    color: white;
    border: 1px solid white;
    border-bottom-width: 6px;
    cursor: pointer;
    margin-left: 8%;
}
.plans-boxes > div > button:hover{
    transform: scale(102%);
    transition: 0.7s ease;
}
form{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    height: 580px;
    border: 3px solid white;
    border-radius: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
form > h2{
    font-size: 55px;
    color: white;
    font-family: "TitleFont", sans-serif;
    margin-top: 50px;
}
form > input{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    background-color: #0c0c0c;
    border-color: transparent;
    border-radius: 10px;
    padding-left: 20px;
    font-size: 20px;
    font-family: "TitleFont", sans-serif;
    color: white;
}
form > textarea{
    width: 400px;
    height: 200px;
    margin-top: 20px;
    background-color: #0c0c0c;
    border-color: transparent;
    border-radius: 10px;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 20px;
    font-family: "TitleFont", sans-serif;
    color: white;
    resize: none;
}
form > button{
    width: 280px;
    height: 60px;
    margin-top: 20px;
     background-color: #0c0c0c;
    border-radius: 10px;
    font-size: 25px;
    font-family: "TitleFont", sans-serif;
    color: white;
    border: 1px solid white;
    border-bottom-width: 6px;
    cursor: pointer;
}
form > button:hover{
    transform: scale(102%);
    transition: 0.7s ease;
}
@media screen and (max-width: 785px){
    .introducing-text{
        font-size: 50px;
    }
    .hero-div > span{
        font-size: 18px;
    }
    .about-section{
        height: 1000px;
    }
    .about-section > h2{
        font-size: 40px;
    }
    .boxes-div{
        flex-direction: column;
    }
    .boxes-div > div{
        margin-top: 30px;
    }
    .steps-section > div{
        height: fit-content;
        padding-bottom: 20px;
    }
    .steps-section > div > span{
        font-size: 23px;
    }
}
@media screen and (max-width: 400px){
    .introducing-text{
        margin-left: 55px;
    }
    .hero-div > span{
        font-size: 18px;
        margin-left: 10px;
    }
    .about-section > h2{
        margin-left: 65px;
    }
    .boxes-div{
        margin-top: 10px;
        margin-right: 50px;
    }
    .timeline{
        margin-top: 120px;
        margin-right: 20px;
    }
    .steps-boxes{
        display: flex;
        flex-direction: column;
    }
    .steps-boxes > div{
        width: 80%;
        height: 200px;
    }
    .plans-boxes{
        display: flex;
        flex-direction: column;
    }
    .plans-boxes > div{
        width: 70%;
        margin-top: 20px;
    }
    .plans-boxes > div > img{
        margin-left: 100px;
    }
    .plans-boxes > div > button{
        width: 95%;
        margin-left: 5px;
    }
    .plans-section{
        margin-top: 500px;
    }
    .contact-section{
        margin-top: 400px;
    }
    .contact-section > form{
        width: 65%;
    }
    .contact-section > form > h2{
        font-size: 40px;
    }
    .contact-section > form > input{
        width: 100%;
        height: 45px;
    }
    .contact-section > form > textarea{
        width: 100%;
        height: 150px;
    }
    .contact-section > div > button{
        height: 80px;
        margin-top: 20px;
    }
}